body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

.photo {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.poem {
    margin: 20px 0;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 8px;
    font-size: 1.2em;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #9e1414;
}
